{% extends 'loginbase.html' %}
    {% block content %}
	<div class="line">
		<h2>로그인</h2>
	</div>
	<div class="main-container">
		<div class="main-wrap">
		<header>
		</header>
		<section class="login-input-section-wrap">
			<form action="{% url 'user:login' %}" method="POST">
				{% csrf_token %}
				<div class="login-input-wrap">
					{{form.username}}	

        		</div>
        		<div class="login-input-wrap password-wrap">
					{{form.password}}	

        		</div>
				<div class="login-button-wrap">
					<button type="submit">로그인</button>
				</div>
			</form>
			<div class="login-stay-sign-in">
				<i class="far fa-check-circle"></i>
				<span>Stay Signed in</span>
			</div>
			
		<footer>
			<div class="copyright-wrap">
			<span>  © likelion Corp.</span>
			</div>
		</footer>
		</div>
	</div>
	</body>
	{% endblock %}