{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <nav class="navbar">
		<div class="navBox1">
			<div class="navItem"><i class="bi bi-search"></i></div>
			<div class="navItem" id="move1">검색</div>
			<div class="navItem" id="move2">맞춤형 서비스</div>
		</div>
		<div class="navBox2"><img class="logo" src="{% static 'img/logo.png' %}"></div>
		<div class="navBox3">
			<div class="navItem"><i class="bi bi-cart3"></i></div>
			<div class="navItem"><i class="bi bi-person-fill"></i></div>
			<div class="navItem"><a href = "{% url 'user:login' %}">로그인</a></div>
			<div class="navItem"><a href = "{% url 'user:signup' %}">회원가입</a></div>
		</div>
	</nav>
    {% if user.is_authenticated %}
      #메인화면띄우기
    {% endif %}
    {% for blog in blogs %}
      {{blog.title}}
    {% endfor %}
</body>
</html>