{% extends 'loginbase.html' %}
    {% block content %}

		<div class="line">
			<h2>회원가입</h2>
		</div>
        <!-- header -->
        
		<form action="{% url 'user:signup' %}" method="POST">
			{% csrf_token %}
			<!-- wrapper -->
			<div id="wrapper">

				<!-- content-->
				<div id="content">
					<!-- ID -->
					<div>
						<h3 class="join_title">
							<label for="id">아이디</label>
						</h3>
						<span class="box int_id">
							{{form.username}}
						</span>
						<span class="error_next_box"></span>
					</div>
					<!-- PW1 -->
					<div>
						<h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
						<span class="box int_pass">
							{{form.password1}}
							<span id="alertTxt">사용불가</span>
						</span>
						<span class="error_next_box"></span>
					</div>
					<!-- PW2 -->
					<div>
						<h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
						<span class="box int_pass_check">
							{{form.password2}}
						</span>
						<span class="error_next_box"></span>
					</div>
					<!-- EMAIL -->
					<div>
						<h3 class="join_title"><label for="email">본인확인 이메일</label></h3>
						<span class="box int_email">
							{{form.e_mail}}
						</span>
						<span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>    
					</div>
					<!-- MOBILE -->
					<div>
						<h3 class="join_title"><label for="phoneNo">휴대전화</label></h3>
						<span class="box int_mobile">
							{{form.phone_number}}
						</span>
						<span class="error_next_box"></span>    
					</div>
					<!-- JOIN BTN-->
					<div class="btn_area">
						<button type="submit" id="btnJoin">
							<span>회원가입</span>
						</button>
					</div>

				</div> 
				<!-- content-->
			</div>
		</form>


         
        
    <script src="main.js"></script>
    </body>
</html>
{% endblock %}