{% extends 'base.html' %}
    {% block title %}
    <title>Search page</title>
    {% endblock %}
    {% block search %}
    <form action = "{% url 'search:search' %}" method = "GET">
        {% csrf_token %}
        <input type="search" placeholder="검색어를 입력하세요" name="search_word" value="{{search_word}}">
        <button type="submit">검색</button>
    </form>
    {% if search_items %}
        {% for item in search_items %}
            {{item.name}}
        {% endfor %}
    {% else %}
        <h1>검색결과가 없습니다</h1>
    {% endif %}
    {% endblock %}