{% extends 'base.html' %}
    {% block content %}
    <div class="line">
        <h2>오늘의 트렌드</h2>
    </div>
    <div id="container">
        <div class="slide_wrap">
            <div class="slide_box">
                <div class="slide_list clearfix">
                    <div class="slide_content slide01">
                        <div class="star star01" style="display: none">★☆☆☆☆</div>
                    </div>
                    <div class="slide_content slide02">
                        <div class="star star02" style="display: none">★★☆☆☆</div>
                    </div>
                    <div class="slide_content slide03">
                        <div class="star star03" style="display: none">★★★☆☆</div>
                    </div>
                    <div class="slide_content slide04">
                        <div class="star star04" style="display: none">★★★★☆</div>
                    </div>
                    <div class="slide_content slide05">
                        <div class="star star05" style="display: none">★★★★★</div>
                    </div>
                </div>
                <!-- // .slide_list -->
            </div>
            <!-- // .slide_box -->
            <div class="slide_btn_box">
                <button type="button" class="slide_btn_prev">Prev</button>
                <button type="button" class="slide_btn_next">Next</button>
            </div>
            <!-- // .slide_btn_box -->
            <ul class="slide_pagination"></ul>
            <!-- // .slide_pagination -->
        </div>
        <!-- // .slide_wrap -->
    </div>
    <!-- // .container -->
    
    <!-- Search -->
    <div class="empty"></div>

    <div class="line" id="search">
        <h2>검색</h2>
    </div>

    <form action="{% url 'search:search' %}" method="GET">
      {%csrf_token%}
      <input type="text" name="search" class="searchbar" placeholder="원하는 식물을 검색하세요" value="{{search_word}}">
      <button type="submit" class="searchBtn"><i class="bi bi-search"></i></button>
    </form>

    <div class="recommendBox">
        <div>추천키워드</div>
        <p># 선인장</p>
        <p># 다육식물</p>
        <p># 공중식물</p>
        <p># 덩굴식물</p>
    </div>

    <div class="fitSearchImgBox">
        {% if items.name == 'no_data' %}
            <img id="no_data_img" src="{{items.image.url}}" width="1000">
        {% else %}
            {% for item in items %}
                <a href="{% url 'search:detail' item.id %}"><img id="search_image" src="{{item.image.url}}"></a>
                <br>
                {{item.name}}
            {% endfor %}
        {% endif %}
    </div> <!--- 임시 -->
    <!-- End Search -->


    <!-- Fit Search -->
    <div class="empty"></div>

    <div class="line" id="fitSearch">
        <h2>맞춤형 서비스</h2>
    </div>

    <div class="fitSearchBox">
        <div class="fitSearchItem">장소<div class="fitDropdown"><i class="bi bi-chevron-down"></i></div></div>
        <div class="fitSearchItem">평수<div class="fitDropdown"><i class="bi bi-chevron-down"></i></div></div>
        <div class="fitSearchItem">스타일<div class="fitDropdown"><i class="bi bi-chevron-down"></i></div></div>
        <div class="fitSearchItem">컬러<div class="fitDropdown"><i class="bi bi-chevron-down"></i></div></div>
        <div class="fitSearchItem">사이즈<div class="fitDropdown"><i class="bi bi-chevron-down"></i></div></div>
        <div><i class="bi bi-search"></i></div>
    </div>

    <div class="fitSearchImgBox">
        <div class="fitTag tag01" onclick="onFitTag('.ontag01')">
            <h1><i class="bi bi-tag-fill"></i></h1>
            <div class="fitTagOn ontag01" style="display: none">
                선인장 <br> 2,000원
                <i class="bi bi-flower2"></i>
                <i class="bi bi-bag-check"></i>
                <i class="bi bi-book"></i>
            </div>
        </div>

        <div class="fitTag tag02" onclick="onFitTag('.ontag02')">
            <h1><i class="bi bi-tag-fill"></i></h1>
            <div class="fitTagOn ontag02" style="display: none">
                관음죽 <br> 100,000원
                <i class="bi bi-flower2"></i>
                <i class="bi bi-bag-check"></i>
                <i class="bi bi-book"></i>
            </div>
        </div>
        
        <div class="fitTag tag03" onclick="onFitTag('.ontag03')">
            <h1><i class="bi bi-tag-fill"></i></h1>
            <div class="fitTagOn ontag03" style="display: none">
                게발선인장 <br> 28,000원
                <i class="bi bi-flower2"></i>
                <i class="bi bi-bag-check"></i>
                <i class="bi bi-book"></i>
            </div>
        </div>
    </div>
    <!-- End Fit Search -->


    <div class="empty"></div>
    


    {% endblock %}