{% extends 'base.html' %}
    {% block content %}
    <div class="line">
        <h2>오늘의 트렌드</h2>
    </div>
    <div id="container">
        <div class="slide_wrap">
            <div class="slide_box">
                <div class="slide_list clearfix">
                    <div class="slide_content slide01">
                        <div class="star star01" style="display: none">★☆☆☆☆</div>
                    </div>
                    <div class="slide_content slide02">
                        <div class="star star02" style="display: none">★★☆☆☆</div>
                    </div>
                    <div class="slide_content slide03">
                        <div class="star star03" style="display: none">★★★☆☆</div>
                    </div>
                    <div class="slide_content slide04">
                        <div class="star star04" style="display: none">★★★★☆</div>
                    </div>
                    <div class="slide_content slide05">
                        <div class="star star05" style="display: none">★★★★★</div>
                    </div>
                </div>
                <!-- // .slide_list -->
            </div>
            <!-- // .slide_box -->
            <div class="slide_btn_box">
                <button type="button" class="slide_btn_prev">Prev</button>
                <button type="button" class="slide_btn_next">Next</button>
            </div>
            <!-- // .slide_btn_box -->
            <ul class="slide_pagination"></ul>
            <!-- // .slide_pagination -->
        </div>
        <!-- // .slide_wrap -->
    </div>
    <!-- // .container -->
    
    <!-- Search -->
    <div class="empty"></div>

    <div class="line" id="search">
        <h2>검색</h2>
    </div>

    <form action="{% url 'search:search' %}" method="GET">
      {%csrf_token%}
      <input type="text" name="search" class="searchbar" placeholder="원하는 식물을 검색하세요" value="{{search_word}}">
      <button type="submit" class="searchBtn"><i class="bi bi-search"></i></button>
    </form>

    <div class="recommendBox">
        <div>추천키워드</div>
        <p># 선인장</p>
        <p># 다육식물</p>
        <p># 공중식물</p>
        <p># 덩굴식물</p>
    </div>

    <div class="searchBox">
        {% if items.name == 'no_data' %}
            <img id="no_data_img" src="{{items.image.url}}" style="width: 50px;">
        {% else %}
            {% for item in items %}
            <div class="searchItem">
                <a href="{% url 'search:detail' item.id %}"><img class="search_image" src="{{item.image.url}}"></a>
                <br>
                {{item.name}}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- End Search -->



    <!-- Fit Search -->
    <div class="empty"></div>

    <div class="line" id="fitSearch">
        <h2>맞춤형 서비스</h2>
    </div>

    <div class="fitSearchBox">
        <form id="fitSearchForm" action="{% url 'search:recommend_items' %}" method="GET">
            {% csrf_token %}
        <select class="fitSearchItem" id="place" name='place'>
            <option value="">장소</option>
            <option value="실내">실내</option>
            <option value="실외">실외</option>
        </select>    
        <select class="fitSearchItem" id="place_size" name='place_size'>
            <option value="">평수</option>
            <option value="3평">3평</option>
            <option value="4평">4평</option>
            <option value="5평">5평</option>
            <option value="6평">6평</option>
            <option value="7평">7평</option>
            <option value="8평">8평</option>
            <option value="9평">9평</option>
            <option value="10평">10평</option>
            <option value="11평">11평</option>
            <option value="12평">12평</option>
            <option value="13평">13평</option>
            <option value="14평">14평</option>
            <option value="15평">15평</option>
            <option value="16평">16평</option>
            <option value="17평">17평</option>
            <option value="18평">18평</option>
            <option value="19평">19평</option>
            <option value="20평">20평</option>
            <option value="21평">21평</option>
            <option value="22평">22평</option>
        </select>    
        <select class="fitSearchItem" id="style" name='style'>
            <option value="">스타일</option>
            <option value="밝은">밝은</option>
            <option value="산뜻한">산뜻한</option>
            <option value="어두운">어두운</option>
            <option value="푸르른">푸르른</option>
            <option value="청명한">청명한</option>
            <option value="아늑한">아늑한</option>
        </select>    
        <select class="fitSearchItem" id="color" name='color'>
            <option value="">선호색깔</option>
            <option value="빨강">빨강</option>
            <option value="초록">초록</option>
            <option value="검정">검정</option>
            <option value="회색">회색</option>
            <option value="파랑">파랑</option>
            <option value="하늘">하늘</option>
        </select>    
        <select class="fitSearchItem" id="size" name='size'>
            <option value="">정원사이즈</option>
            <option value="손바닥사이즈">손바닥사이즈</option>
            <option value="A4용지사이즈">A4용지사이즈</option>
            <option value="책상사이즈">책상사이즈</option>
            <option value="소파사이즈">소파사이즈</option>
        </select>    
        <button type="submit" class="fitSearchBtn"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <div class="fitSearchImgBox">
        <div class="fitTag tag01" onclick="onFitTag('.ontag01')">
            <h1><i class="bi bi-tag-fill"></i></h1>
            <div class="fitTagOn ontag01" style="display: none">
                선인장 <br> 2,000원
                <i class="bi bi-flower2"></i>
                <i class="bi bi-bag-check"></i>
                <i class="bi bi-book"></i>
            </div>
        </div>

        <div class="fitTag tag02" onclick="onFitTag('.ontag02')">
            <h1><i class="bi bi-tag-fill"></i></h1>
            <div class="fitTagOn ontag02" style="display: none">
                관음죽 <br> 100,000원
                <i class="bi bi-flower2"></i>
                <i class="bi bi-bag-check"></i>
                <i class="bi bi-book"></i>
            </div>
        </div>
        
        <div class="fitTag tag03" onclick="onFitTag('.ontag03')">
            <h1><i class="bi bi-tag-fill"></i></h1>
            <div class="fitTagOn ontag03" style="display: none">
                게발선인장 <br> 28,000원
                <i class="bi bi-flower2"></i>
                <i class="bi bi-bag-check"></i>
                <i class="bi bi-book"></i>
            </div>
        </div>
    </div>
    <!-- End Fit Search -->


    <div class="empty"></div>
    


    {% endblock %}