* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 0%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.navBox2 {
    display: flex;
    width: 40%;
    justify-content: left;
}
.navBox3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 30%;
    float: right;

}
.navItem { padding: 3%; }
.navItem:hover { border-bottom: 2px solid black; cursor:pointer; }
.logo { width: 200px; }


.calendar {
  width: 400px;
  margin: auto;
  padding-bottom: 50px;
}

.calendar_header {
  display: inline-block;
}

.calendar_nav {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.nav-btn {
  width: 20px;
  height: 30px;
  border: none;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  width: 80%;
}

.calendar_main{
  border-collapse: collapse;
  width: 100%;
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
  transition: all .3s;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #33333341;
}

.date {
  cursor: pointer;
  width: calc(100% / 7);
  padding: 5% 1%;
  /* text-align: left; */
  text-align: center;
  border: 1px solid #33333341;
  transition: all .3s;
}

.date-itm{
  display: inline-block;
  vertical-align: middle;
}

.date_event{
  display: inline-block;
  vertical-align: middle;
}

.event-itm{
  display: block;
  font-size: 15px;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  color: rgba(88, 88, 88, 0.315) !important;
}

.today {
  position: relative;
  color: #ffffff !important;
}
.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30px;
  height: 30px;
  display: block;
  background-color: #FF0000;
  border-radius: 50%;
  content: '';
}



.selected{
  background-color: rgb(157, 232, 255);
  color: #ffffff !important;
}


/* RESERVE TAB */
.resv-wrapper{
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #3333335b;
  display: none;
  justify-content: center;
}

.resv-wrapper.open{
  display: flex;
}

.resv-bg{
  width: 90%;
  position: relative;
  padding: 5% 5%;
  background-color: #ffffff;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 20px;
  font-size: 20px;
}

.resv-close{
  cursor: pointer;
  font-size: 20px;
  background-color: #ffffff;
  text-align: right;
  float: right;
}


.resv_btn{
  cursor: pointer;
  font-size: 18px;
  width: 40%;
  height: 30px;
  margin-top: 20px;
  padding: 5px 0px;
}

